*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;

}

header{
    margin-top: 0;
    background-color: lightskyblue;
    background-image: url('img/pattern.png');
    background-size: auto;
    height: 150px;
    width: 80%;
    margin: auto;
    position: relative;
}



#logo{
    width: 20%;
    position: absolute;
    left:0;
    bottom:0;
}

main{
    width: 80%;
    margin: auto;
    
}

footer{
    width: 80%;
    margin: auto;
}

footer>div{
    margin-top: 30px;
    margin-bottom: 20px;
    color: grey;
}

footer img{
    display: block;
    margin-bottom: 20px;
}

